
FordAPI/obj/Debug/FordAPI.csproj.FileListAbsolute.txt
FordAPI/obj/Debug/FordAPI.pdb
*.config
.vs/Ford/v16/.suo
*.lock
.vs/Ford/v16/Server/sqlite3/storage.ide
.vs/Ford/v16/Server/sqlite3/storage.ide-shm
.vs/Ford/v16/Server/sqlite3/storage.ide-wal
*.dll
*.xml
*.pdb
*.rsp
*.exe
*.cache
*.targets
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.dll
*.pdb
*.CopyComplete
*.txt
*.out
*.p7s
*.nupkg
*.js
*.map
*.css
*.json
*._
*.transform
*.psd1
*.psm1
*.ps1
*.props
*.xdt
*.md
*.ts
*.pp
FordAPI/obj/Debug/FordAPI.csproj.FileListAbsolute.txt
FordAPI/obj/Debug/FordAPI.csproj.CoreCompileInputs.cache
FordAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FordAPI/obj/Debug/FordAPI.csproj.FileListAbsolute.txt
FordClient/bin/FordClient.pdb
FordClient/Properties/PublishProfiles/FolderProfile.pubxml.user
FordClient/node_modules/.bin/acorn
