<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Rafael Evangelista">
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <title>Sorteio</title>
    <style>
        .card-body {
            margin: 7px 7px;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 10px;
        }

        #calendar {
            max-width: 800px;
            margin: 0 auto;
        }

        a:link {
            text-decoration: none;
        }
    </style>
</head>
<body class="bg-light" ng-controller="sorteioCtrl">
    <div class="text-md-right" style="color:darkorange">
        <img class="float-lg-left" src="../Img/FordLogo.png" width="110" height="90" alt="">
        <br />
        <script>document.write("<h6> Olá " + sessionStorage.getItem('userName') + "!" + "</h6>");</script>
        <font size="1" face="Arial" ng-controller="logoutCtrl"><a class="nav-nav-link active" href="" style="color: #283e93" ng-click="logout()">Sair</a></font>
    </div>&ensp;
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #eeecea;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="Principal.html" style="color: #283e93">HOME <span class="sr-only">(Página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Veiculo.html" style="color: #283e93">VEÍCULOS </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Regulamento.html" style="color: #283e93">REGULAMENTO</a>
                </li>
            </ul>
        </div>
        <img src="../Icon/newspaper.svg" width="18" height="18" alt="" />&nbsp;
        <font size="2">
            <button type="button" style="color: #283e93; background-color:#e9ebec; border-color:#e9ebec" class="border">
                RELATÓRIOS
            </button>
        </font>
    </nav>
    <hr style="height:13px; border:none; color:#000; background-color:#1f425f; margin-top: 00px; margin-bottom: 0px;" />
    <br />
    <section class="h-100">
        <div class="container">
            <div class="row d-flex bd-highlight mb-3">
                <div class="row justify-content-around h-50">
                    <div class="card-deck" style="width: 68rem; height: 22rem;">
                        <div class="card text-left col-8 col-md-4 p-3 bd-highlight">
                            <div class="card-body">
                                <form class="form-inline">
                                    <b>
                                        <br />
                                        <font color="DarkBlue" face="Cambria" size="4">Insira as datas do evento</font>
                                        <br />
                                        <br />
                                        <font color="orange" size="2">DATA INICIAL DO EVENTO</font><br />
                                        <input class="form-control" type="date" id="DataInicial" ng-model="DataInicial">
                                        <br />
                                        <br />
                                        <font color="orange" size="2">DATA FINAL DO EVENTO</font><br />
                                        <input class="form-control" type="date" id="DataFinal" ng-model="DataFinal">
                                        <br />
                                        <br />
                                        <button type="button" onclick="limpar()" ng-click="sortearNumeros()" class="btn btn-success btn-sm">SORTEAR</button>
                                    </b>
                                </form>
                                <br />
                            </div>
                        </div>
                        <div class="card text-left col-8 col-sm-4 col-md-4 ml-auto p-3 bd-highlight">
                            <p ng-controller="sorteioCtrl">
                                <b>
                                    <br />
                                    <font color="orange" size="2">NOME DO EVENTO</font><br />
                                    <input type="text" class="form-control" id="Title" ng-model="Title">
                                    <font color="orange" size="2">DATA INICIAL</font><br />
                                    <input class="form-control" type="date" id="Start" ng-model="Start">
                                    <font color="orange" size="2">DATA FINAL</font><br />
                                    <input class="form-control" type="date" id="End" ng-model="End">
                                    <br />
                                    Importar Lotes : <input type="file" id="file" name="file" multiple ng-files="getTheFiles($files)">
                                    <br />
                                    <br />
                                    <button type="button" onclick="limpar()" ng-click="adicionarEvento()" class="btn btn-primary btn-sm">Importar Lotes</button>
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="row justify-content-start">
                    <div class="card-deck" style="width: 74rem; height: 24rem;">
                        <div class="card text-left col-6 col-md-4" ng-controller="veiculoCtrl">
                            <div class="card-header text-white w-100 p-3" style="background-color:darkorange" ng-init="carregarDoisVeiculos()">
                                <img src="../Icon/edit.svg" width="20" height="20" alt="" />
                                OPORTUNIDADES
                            </div>
                            <div class="card-body text-center" ng-repeat="vcl in DoisVeiculos | orderBy: 'Lote'">
                                <a href="Veiculo.html"><img src="../Img/Veiculos/{{vcl.Imagem}}" class="float-left img-thumbnail" alt="Cinque Terre" width="170" height="130" alt="" /></a>
                                <p class="h6 card-title">{{vcl.Marca}}/{{vcl.Modelo}}</p>
                                <p class="h6 card-text">{{vcl.Potencia}} {{vcl.Combustivel}} {{vcl.Carroceria}}</p>
                                <p class="h6 card-text" style="color:darkorange">{{vcl.Valor | currency:'R$ '}}</p>
                            </div>
                        </div>
                        <div class="card text-left col-12 col-sm-6 col-md-8">
                            <div class="card-header text-white" style="background-color:darkorange">
                                <img src="../Icon/creative.svg" width="20" height="20" alt="" />
                                ÚLTIMO SORTEIO
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>COLABORADOR</th>
                                        <th>MODELO</th>
                                        <th>PLACA</th>
                                        <th>COR</th>
                                        <th>ANO DE FAB</th>
                                        <th>GARANTIA</th>
                                    </tr>
                                </thead>
                                <tbody ng-controller="sorteioCtrl">
                                    <tr dir-paginate="ultSort in UltimoSorteio | itemsPerPage:5">
                                        <td>{{ultSort.Funcionarios.CPF}}</td>
                                        <td>FOCUS</td>
                                        <td>FDD-1111</td>
                                        <td>AZUL</td>
                                        <td>2018/2019</td>
                                        <td>SIM</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="d-flex align-items-end flex-column bd-highlight" style="height: 75px;">
                                <img class="mt-auto p-2 bd-highlight" src="../Icon/xls-open-file-format.svg" width="60" height="50" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </section>
    <br />
    <br />
    <footer>
        <div class="text-left">
            <hr style="height:7px; border:none; color:#000; background-color:#1f425f; margin-top: 00px; margin-bottom: 0px;" />
            <div class="float-left">
                <font color="Navy" size="1" face="Verdana">
                    &emsp; R.QUATÁ, 733 V.OLÍMPIA - SÃO PAULO - SP - TEL: (11)3845-5599 <br />
                    &emsp; MILAN EXPRESS COPYRIGHT © - Todos Direitos Reservados
                </font>
            </div>
            <img class="float-right" src="../Img/Milan_Express.png" width="170">
        </div>
    </footer>

    <script>
        function limpar() {
            document.getElementById('Title').value = "";
            document.getElementById('Start').value = "";
            document.getElementById('End').value = "";
            document.getElementById('DataInicial').value = "";
            document.getElementById('DataFinal').value = "";
        };

        function limparSorteio() {

        };

    </script>


    <script src="../Scripts/jquery-3.4.1.min.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-animate.min.js"></script>
    <script src="../Scripts/ui-bootstrap/ui-bootstrap-3.0.6.min.js"></script>
    <script src="../Scripts/angular-route.js"></script>

    <!--Angular JS-->
    <script src="../Angular/env.js"></script>
    <script src="../Angular/app.js"></script>
    <script src="../Angular/Logout/Controller.js"></script>
    <script src="../Angular/Sorteios/Service.js"></script>
    <script src="../Angular/Sorteios/Controller.js"></script>
    <script src="../Angular/Veiculos/Service.js"></script>
    <script src="../Angular/Veiculos/Controller.js"></script>
    <script src="../Scripts/SweetAlert/sweetalert.min.js"></script>
    <script src="../Scripts/Pagination/dirPagination.js"></script>
</body>
</html>